<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <description>Products</description>
    <display-name>Products</display-name>

    <!--
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>com.products.ListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    -->
</web-app>